html, body {
  height: 100%;
}

:root {
  --wx-bg-header: #efefef;
  --wx-bg-input: #fefefe;
  --wx-btn-primary: #008cff;
}

body {
  font-family: 'Open Sans', sans-serif;
  transition: background-color 2.5s ease-in-out;
}

#app {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
